.redDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
  }
  
li {
    font-size: 25px;
    cursor: pointer;
    list-style-type: none;
  }
  
li:hover {
    color: blue;
    text-decoration: underline;
  }

.sectionContainer {
  width: "60%";
  height: "60vh";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
